/*

tip.css

Styling of the tips (contextual piece of information)

# Author: Malek Cellier
# 
# Email: malek.cellier@gmail.com
# Created: 2020-03-10

TODO: rename to info

*/

:root {
    --border-size: 12px;
}

.info-left,
.info-right,
.info-top,
.info-bottom,
.info-colormap,
.info-colormap-above
{
    /*display: inline;*/
    position: relative;
    /*transition: all 2s ease-out; NOT working, requires the ::after and ::before el to be defined*/
}

.info-left:hover::after,
.info-right:hover::after,
.info-top:hover::after,
.info-bottom:hover::after,
.info-colormap:hover::after,
.info-colormap-above:hover::after
{
    position: absolute;
    display: block;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    color: #fff;
    padding: .3em 1em;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
    content: attr(info-text);
}

.info-left:hover::after {
    bottom: -6px; /* since the icon is normally 32x32 */
    right: 42px;
}
.info-right:hover::after {
    bottom: -6px; /* since the icon is normally 32x32 */
    left: 32px;
}
.info-top:hover::after {
    bottom: 32px; /* since the icon is normally 32x32 */
    left: -16px;
}
.info-bottom:hover::after {
    bottom: -40px; /* since the icon is normally 32x32 */
    left: -16px;
}
.info-colormap:hover::after {
    bottom: -36px; /* since the icon is normally 32x32 */
    right: 42px;
}
.info-colormap-above:hover::after {
    bottom: 36px; /* since the icon is normally 32x32 */
    right: 42px;
}

.info-left:hover::before,
.info-right:hover::before,
.info-top:hover::before,
.info-bottom:hover::before
{
    position: absolute;
    display: block;
    border: var(--border-size) solid transparent;    
    z-index: 99;
    content: "";
}

.info-left:hover::before {
    border-left: var(--border-size) solid rgba(0,0,0,.8); /* top right bottom left*/
    bottom: -2px;
    right: 24px;
}
.info-right:hover::before {
    border-right: var(--border-size) solid rgba(0,0,0,.8);
    bottom: -2px;
    left: 14px;
}
.info-top:hover::before {
    border-top: var(--border-size) solid rgba(0,0,0,.8);
    bottom: 14px;
    left: 0px;
}
.info-bottom:hover::before {
    border-bottom: var(--border-size) solid rgba(0,0,0,.8);
    bottom: -14px;
    left: 0px;
}
