/*
# Author: Malek Cellier
# 
# Email: malek.cellier@gmail.com
# Created: 2020-02-02
*/
/*
@font-face {
    font-family: ff-clan-web-pro;
    src: url(vendors/ff-clan-web-pro.woff);
  }
*/
body {
    padding: 0;
    margin: 0;
    /*font-family: ff-clan-web-pro, "Maven Pro", Consolas, Roboto, serif;*/
    font-family: 'Maven Pro', Consolas, Roboto, serif;
    font-weight: 400;    
    font-size: 0.875em;    
    line-height: 1.71429;    
}

div {
    box-sizing: border-box;
}

#menu-container {
    /*background-color: rgb(36, 39, 48);*/
    position: absolute;    
    width: 340px;
    height: 100%;    
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    z-index: 10;
}

#menu-container.hidden {
    width: 0px;
    padding: 0px;
}

#menu-main {  
    background-color: rgb(36, 39, 48);
    display: inline-block;
    width: 300px;
    height: 100%;
    /*padding: 20px;*/
}

#menu-main.hidden {
    display: none;
}

#menu-main-head-container {
    /*background-color: rgb(41, 50, 60);*/
    background-color: #29323C;
}

#menu-main-head {
    /*height: 80px;*/
    /*background-color: rgb(41, 50, 60);*/
    padding: 12px 16px 10px;
    display: flex;
    justify-content: space-between;
}

#menu-main-head-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#menu-main-head-logo {
    /*font-family: Consolas;*/
    display: inline-block;
    color: rgb(31, 186, 214);    
    /*color: rgb(192, 108, 132);    */
    ;    
    font-size: 16px;    
    font-weight: 400;    
    letter-spacing: 1.17px;
}

#menu-main-head-logo-svg {
    display: inline-block;
}

#menu-main-head-logo-subtitle {
    /*font-family: Consolas;*/
    font-size: 12px;
    color: rgb(106, 116, 133);
    letter-spacing: 0.83px;
    line-height: 14px;
}

#menu-main-head-tabs {
    background-color:rgb(41, 50, 60);
    padding: 0px 16px;
    display: flex;
    min-height: 30px;    
}

.menu-main-head-actions {
    display: inline-block;
}

#menu-control {
    align-items: center;
    justify-content: center;
    background-color: rgb(106, 116, 133); /*#29323C; /* #535C6C; /*rgb(160, 167, 180);*/
    border-radius: 1px;
    color: rgb(41, 50, 60);
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 21px;    
    margin-left: 15px;
    margin-right: 15px;
    opacity: 0.6; 
}

#menu-control:hover {
    opacity: 1; 
}

.svg-logo {
    /*background-color: rgb(106, 116, 133);*/
    align-items: flex-end;
    border-bottom: 2px solid transparent;
    color:rgb(144, 152, 167);
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    margin-right: 12px;
    padding-bottom: 6px;
    width: 30px;    
    pointer-events: none; /*none implies that a containing div is needed to get the click bounding-box*/
}

.svg-logo:hover {
    color: rgb(240, 240, 240);
    cursor: pointer;
}

.top-icon {
    cursor: pointer;
}

.top-icon:hover svg {
    color: rgb(240,240,240);
}

.top-icon svg {
    color: #6a7485;
    padding-left: 12px;
    pointer-events: none;
}

.tab {
    margin-right: 12px;
    width: 30px;
}

.tab:hover{
    cursor: pointer;
}

.tab:hover .svg-logo, .tab:focus .svg-logo{
    color: rgb(240, 240, 240);
}

div.current-tab {
    border-bottom: 2px solid rgb(255, 255, 255);
    color:rgb(255, 255, 255);    
}

#menu-top-right {
    position: absolute;
    width: 200px;
    height: 200px;
    right: 0px;
    background-color: beige;
    z-index: 10;
}

#menu-main-body {
    padding: 12px;
}

.menu-title {
    font-family: ff-clan-web-pro;
    color: rgb(240, 240, 240);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.25px;
    /*margin-bottom: 14px;*/
}

.menu-text {
    margin-left: 5px;
}

.container-tab-content {
    display: none;
}

.container-tab-content.visible {
    display: block;
}

#info {
    display: none;
    position: absolute;
    right: 10px;    
    bottom: 10px;    
    font-size: 13px;    
    color:rgb(144, 152, 167);    
    background-color: #242730;    
    padding: 20px;    
    font-weight: 900;    
}

#info.shown {
    display: block;
}

.div-button {
    -moz-box-align: center;
    align-items: center;    
    background-color:rgb(19, 177, 123);/*rgb(106, 116, 133);*/    
    border-radius: 2px;    
    color:rgb(255, 255, 255);    
    cursor: pointer;    
    display: inline-flex;    
    font-size: 11px;    
    font-weight: 500;    
    -moz-box-pack: center;    
    justify-content: center;    
    letter-spacing: 0.3px;    
    line-height: 14px;    
    /*outline: currentcolor none 0px;    */
    /*padding: 9px 12px;    */
    text-align: center;    
    transition: all 0.4s ease 0s;    
    vertical-align: middle;    
    width: 115px;    
    opacity: 1;    
    pointer-events: all;    
    margin-top: 10px;
}

.div-button.cancel {
    background-color: rgb(192, 108, 132);
    margin-right: 20px;
}

.div-button:hover {
    opacity:0.75; 
}

#div-button-upload {
    padding: 9px 12px; /* overwrite .div-button*/
}

.scenario-content.hidden {
    display: none;
}

.div-scenario, .scenario-header, .obj-header, .pov-header, .trace-header, .kpis-header {    
    font-family: Tahoma;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(160, 167, 180);
    /*background-color: rgb(41, 50, 60);*/
    background-color: #29323c;
    /*border-left: 3px solid rgb(  0,  92, 255);*/
    border-left: 3px solid rgb(31, 186, 214);
    /*border-left: 3px solid rgb(192, 108, 132);*/
    padding: 0px 10px 0px 10px;
    height: 48px;
    display: flex;
    -moz-box-pack: justify;
    justify-content: start;
    -moz-box-align: center;
    align-items: center;
    transition: all 0.4s ease 0s;   
    margin-top: 10px;
    /*opacity: 0.5; */
}

.header-text {
    flex: 1;
    padding-left: 12px;
    overflow: hidden;
}

.header-svg {  
    padding-left: 8px;
}

.header-svg.expand, .header-svg.dots {  
    padding-right: 12px;
}

.header-svg svg {
    opacity: 0.25;
    pointer-events: none;   
}

.header-svg.weak svg {
    opacity: 0.1;
}

.header-svg:hover {
    cursor: pointer;
}

.header-svg:hover svg, .tab:focus svg, .header-svg.dots:hover svg{
    color: rgb(240, 240, 240);
    opacity: 1;
}

.header-svg.eye.clicked svg{
    /*TODO: toggle eye open/closed instead of just changing the color*/
    color: rgb(240, 240, 240);
    color: rgb(41, 0, 0);
    opacity: 1;
}

.obj-header, .pov-header, .trace-header, .kpis-header {
    margin-left: 10px;
    height: 38px;
    border-left: 3px solid rgb(192, 108, 132);
    /*border-left: 3px solid rgb(84, 122, 130);*/
}

.obj-content.hidden {
    display: none;
}

.pov-content.hidden {
    display: none;
}

.trace-content.hidden {
    display: none;
}

.kpis-content.hidden {
    display: none;
}

.sub-menu {
    color: rgb(240, 240, 240);
    padding-top: 6px;    
    margin: 8px 0px 6px 20px;
    height: 32px;
    border-left: 3px solid rgb(84, 122, 130);
    /*border-left: 3px solid rgb(  0, 92, 255);*/
    display: flex;
    background: rgb(41, 50, 60);
    opacity: 0.6;
}

.sub-menu.switch {
    /*width: 100%;*/
    align-items: center;
    margin-left: 12px;
    margin-bottom: 0px;
}
.switch > .header-text {
    padding-bottom: 8px;
}

.switch-svg {
    padding-right: 12px;
    color: rgb(240, 240, 240);
    opacity: 1;
}
.switch-svg svg {
    pointer-events: none;   
    color: rgb(240, 240, 240);
    opacity: 1;
}
.switch-svg svg.ON {
    fill: rgb(240, 240, 240);
}
.switch-svg svg.OFF {
    fill: rgb( 84, 122, 130);
}
.switch-svg:hover {
    cursor: pointer;
}

.sub.menu:hover {
    cursor: pointer;
    opacity: 1;
}

.sub-menu.hidden {
    display: none;
}

.sub-menu:hover svg, .sub-menu:focus svg{
    color: rgb(240, 240, 240);
    opacity: 1;
}

.sub-menu.radio {
    display: flex;
    width: 100%;
}

.sub-menu.radio .active {
    background-color: rgb(106, 116, 133);
}

.sub-menu.radio .header-text {
    flex-grow: 1;
    padding: 0;
    height: 100%;
}

.sub-menu-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}

.sub-menu-content.column {
    flex-direction: column;
}

.sub-menu-content.hidden {
    display: none;
}

.sub-menu-content-pov, .sub-menu-content-trace {
    font-family: Consolas;
    font-weight: 300;
    color: rgb(240,240,240);
    float: left;
    text-align: center;  
    width: 40px;  
    border: 1px solid #333333;   
    background: rgb(41, 50, 60);
    /*padding-left: 5px;*/
    vertical-align: top;
    /*box-shadow: 2px 1px 2px gray;*/
    /*margin: 4px 10px 4px 10px;  */
    cursor: pointer;
  }
  
  .sub-menu-content-pov.option {
      width: 50px;
  }

  .sub-menu-content-pov span, .sub-menu-content-trace span  {
      pointer-events: none;
  }

.sub-menu-content-pov.clicked, .sub-menu-content-trace.clicked {
    /*box-shadow: 0 0 0 white;*/
    /* margin: 6px 10px 2px 10px;*/
    background: rgb(41, 0, 0);
  }

.sub-menu-item   {
    color: rgb(240, 240, 240);
    padding-top: 6px;
    margin: 8px 0px 0px 20px;
    height: 32px;
    border-left: 3px solid rgb(84, 122, 130);
    /*border-left: 3px solid rgb(  0, 92, 255);*/
    display: flex;
    background: rgb(41, 50, 60);
    opacity: 0.6;
}

.sub-menu-content.vertical {
    display: flex;
    flex-direction: column;
}

.sub-menu-content.vertical.hidden {
    display: none;
}

.subsub-menu {
    color: rgb(240, 240, 240);
    border-left: 2px solid rgb(106, 116, 133);
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height: 25px;
    margin-bottom: 5px;    
}

.subsub-menu span {
    color:rgb(160, 167, 180);    
    font-size: 12px;    
    font-weight: 500;    
    letter-spacing: 0.2px;    
    text-transform: capitalize;    
}

.subsub-menu-content {
    display: block;
    margin-left: 25px;
}

.subsub-menu-content.hidden {
    display: none;
}

/*
.obj-header {
    border-left: 3px solid rgb(192, 108, 132);
}

.pov-header {
    border-left: 3px solid rgb( 84, 122, 130);
}

.trace-header {
    border-left: 3px solid rgb(248, 177, 149);
}

.kpis-header {
    border-left: 3px solid rgb( 62, 172, 168);
}
*/

.div-scenario:hover {
    /*opacity:1;*/
    background-color: #3A4552;
}

.title-body-separator {
    margin-bottom: 20px;
}

.div-scenario-content {
    font-family: Tahoma;
    -moz-box-align: center;
    align-items: center;
    border-radius: 2px;
    caret-color:rgb(211, 216, 224);
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    outline: currentcolor none medium;
    overflow: hidden;
    padding: 4px 10px 4px 4px;
    text-overflow: ellipsis;
    transition: all 0.4s ease 0s;
    white-space: nowrap;
    width: 100%;
    overflow-wrap: normal;
    pointer-events: all;
    opacity: 1;
    color:rgb(160, 167, 180);
    font-size: 13px;
    letter-spacing: 0.43px;
    line-height: 18px;
    height: 24px;
    font-weight: 400;
    margin-left: -4px;
    background-color: transparent;
    border: 1px solid transparent;    
}

.div-scenario-cat-container {
    display: inline-block;
}

.div-scenario-cat-container.hidden {
    display: none;
}

.div-scenario-span-container {
    border-left: 2px solid rgb(106, 116, 133);
    line-height: 12px;
    margin-top: 12px;
    margin-left: 12px;
    padding-left: 10px;
    display: flex;
    -moz-box-align: center;
    align-items: center;    
}

.div-scenario-span {
    color:rgb(160, 167, 180);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.2px;    
}

.div-scenario-icon {
    display: flex;
    -moz-box-align: center;
    align-items: center;
    color:rgb(160, 167, 180);
    margin-top: 11px;
}

.div-scenario-cat {
    display: flex;
    width: 270px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    cursor: pointer;
    opacity: 0.5;
}

.div-scenario-cat:hover {
    opacity: 1;
    color: rgb(240, 0, 0); /*240);  */
}

.div-scenario-actions {
    display: flex;
}

.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 20; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: none;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    /*padding: 20px;*/
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    height: 70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
    /*
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    */
}

.modal-header {
    /*background: #29323C;*/
    padding: 20px;
    /*color: rgb(106, 116, 133);*/
    /*min-height: 40px;*/
    /*height: 15%;*/
}

.modal-body {
    /*height: 80%;*/
    /*overflow: hidden;*/
    border: 1px dashed #8888887a;
    padding: 0px;
    margin: 20px;
    /*flex: 1;*/
    height: 65%;
    overflow: auto;
    background: #29323c22;
}

.modal-footer {
    /*background: #29323C;*/
    /*min-height: 40px;*/
    /*height: 35px;*/
    padding: 20px;
    color: rgb(106, 116, 133);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#progress-group, #progress-total {
    width: 100%;    
    background: #29323c22;
    padding: 0px 25px 0px 25px;
}

#progress-total {
    height: 25%;
    overflow: hidden;
}

#progress-group {
    max-height: 75%;
    overflow-y: auto;
}

ul {
    list-style: none;
    padding: 0;
}

.bar {
    background: #353b48;
    display: block;
    height: 4px;
    /*border: 1px solid rgba(0, 0, 0 ,0.3);*/
    border-radius: 1px;
    overflow: hidden;
    /*box-shadow: 0 0 10px #005effb3;*/
    box-shadow: 0 0 10px rgb(19, 177, 123, 0.7);
}

.bar span {
    height: 4px;
    float: left;
    /*background:#005eff;*/
    background:rgb(19, 177, 123);
}

.bar-total {
    background: #353b48;
    display: block;
    height: 4px;
    border-radius: 1px;
    overflow: hidden;    
    box-shadow: 0 0 10px rgba(192, 108, 132, 0.7);
}

.bar-total span {
    height: 4px;
    float: left;    
    background: rgba(192, 108, 132, 0.7);
}
.row {
    display: flex;
    justify-content: space-between;
}

.modal-title {
    color: rgb(25, 25, 25);
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.25px;
}

.modal-list-container {
    overflow: auto;
    height: 100%;
    border: 1px dotted black;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover, .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*
#div-input-btn-container {
    flex-direction: row;
}
*/
  
#div-scenario-loader {
    display: inline-block;
}

#div-button-upload {
    display: none;
    cursor: pointer;
    background-color: #0F9668;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

#subcontent {
    padding: 30px 10px;
}

#subcontent-head {
    /*height: 40px;*/
    /*background-color: grey;*/
}

#subcontent-body {
    height: 250px;
    padding: 10px;
    /*background-color: cadetblue;*/
}

#scenario-loader {
    /*background-color: #eee;
    padding: 1em;*/
    padding: 10px;
}

#div-scenario-loader {
    background-color: #eee;
    height: 40px;
}

.pov-el-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-start;
    padding-left: 12px;
}

.pov-el-container.hidden {
    display: none
}

.pov-el {
    color:rgb(160, 167, 180);
    font-size: 13px;
    letter-spacing: 0.43px;
    line-height: 18px;
    background-color: #29323C;
    width: 120px;
    margin-top: 5px;
    margin-left: 5px;
}

.pov-el-span, .pov-el-svg, .pov-switch-span, .pov-switch-svg {
    display: inline-block;
}

.pov-el-span {
    height: 20px;
}

.pov-el-svg {
    height: 20px;
}

.pov-switch {
    display: flex;
    padding-left: 16px;
    color: rgb(230,230,230);    
    background-color:#29323C;    
    height: 36px;    
    border-left-color:green;    
    border-left-style: solid;
    padding-top: 5px;    
    margin-top: 5px;    
    width: 266px;
    margin-left: 10px;    
}

#panel {    
    position: absolute;
    top: 0px;
    width: 200px;
    height: 150px;
    padding: 20px;
    right: 0px;
    z-index: 10;
    display: flex;
    flex-direction: column;    
    align-items: flex-end;    
    justify-content: flex-end;    
}

.panel-icon {
    height: 32px;
    width: 32px;
    border: 0px none;
    background-color: rgb(41, 50, 60);
    background-color: #29323C;
    box-shadow:rgba(0, 0, 0, 0.16) 0px 6px 12px 0px;
    margin: 2px;
    padding: 0;
}

.panel-icon.clicked {
    background: rgb(41, 0, 0);
}

.panel-icon svg {
    display: block;
    margin: auto;
    margin-top: 5px;
    pointer-events: none;
    color: rgb(255,255,255);
    color:rgb(144, 152, 167);
}

.panel-icon:hover {
    cursor: pointer;
    /*background-color: rgb(160, 167, 180);*/
    color: rgb(255,255,255);
}

.panel-icon:hover svg {
    color:rgb(255, 255, 255);
}

#legend-container {
    /*position: absolute;*/
    position: relative;
    top: 20px;
    /*right: 5px;*/
    left: -148px;
    width: 180px;
    display: flex;
    flex-direction: column;
    background-color: rgb(36, 39, 48);
    font-size: 11px;
    font-weight: 500;
}

#legend-head {
    background-color: #29323c;
    height: 42px;
    padding: 12px;
    color:rgb(240, 240, 240);    
    color:rgb(106, 116, 133);    
    font-size: 14px;    
    font-weight: 400;    
}

#legend-body {
    padding: 12px;
    background-color: #242730;
}

.panel-icon svg text {
    font-size: 9px;
    fill:rgb(160, 167, 180);    
}

#legend-container.hidden {
    display: none;
}

.clrmap-item-div {
    display: flex;
    flex-direction: row;

}

/* Preparing the tooltips*/
.tooltip .tooltiptext-bottom, .tooltip .tooltiptext-top, .tooltip .tooltiptext-left, .tooltip .tooltiptext-right{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 100;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}
  
/* bottom arrow*/
.tooltip .tooltiptext-bottom::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
/* top arrow*/
.tooltip .tooltiptext-top::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
/* left arrow*/
.tooltip .tooltiptext-left::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  
/* right arrow*/
.tooltip .tooltiptext-right::after {
    content: " ";
    position: absolute;
    top: 50%;
    left: 100%; /* To the right of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }

/* Change tooltip to the class of the container div*/
.tooltip:hover .tooltiptext-right, .tooltip:hover .tooltiptext-top, .tooltip:hover .tooltiptext-bottom, .tooltip:hover .tooltiptext-left {
    visibility: visible;
}


/*Colors from kepler*/
.kepler {
    color: rgb(143, 47, 191);
    color: rgb(192, 108, 132);
    color: rgb( 84, 122, 130);
    color: rgb(  0, 92, 255);
    color: rgb(248, 177, 149);
    color: rgb( 62, 172, 168);
}